.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.img-small{
  max-height: 5vh;
}

.card{
  display: inline-block
}

.card-columns {
  column-count:5;
  column-gap: .25rem;
}
